body{
  background-color: #F78E69FF;
}

.panda1, .panda2, .panda3{
	width: 100%;
	filter: grayscale(100);
	padding: 0;
	margin: 0;
}

.about, .pictures{
	background-color: #ABE188FF;
}

.txt-about{
  background-color: #F78E69FF;
  margin-top: 5%;
  margin-bottom: 5%;
}

.pictures img{
  border: 0.5em solid white;
  margin-bottom: 12%;
}

.txt-picture{
  margin-top: 5%;
}
